.map-container {
    position: absolute;
    top: 50px;
    left: 350px;
    right: 0;
    bottom: 0;

  }
    
.map-frame {
border: 2px solid black;
width: 95%;
height: 98%;
}

#map {
height: 100%;
}

.header {
  display: flex; 
  justify-content: flex-end;
}

.route_summary {
  color: black;
  border-left: 5px solid blue;
  margin-left: 10px;
}

.route_detail {
  margin-left: 8px;
}

.route_detail > span {
  color: blue;
  font-weight: bold;
}

.dist_duration {
  display: flex;
  justify-content: flex-start;
  column-gap: 10px;
  color: gray;
  font-size: smaller;
  margin-left: 8px;
  margin-top: 5px;
}

.filter_category {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-right: 23px;
}

.filter_category > label {
  margin-right: 5px;
}

.directions {
  margin-left: 10px;
}

.map-form {
  min-width: 150px;
  max-width: 350px;
  width: 100%;
}

.form-field {
  width: 90%;
}

.option {
  font-size: 14px;
}